@model IEnumerable<DAL.Models.Music>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-decoration:underline; text-decoration-color: #a6bcfb;"><i class="ri-rhythm-line" style="color: #75a2e5;"></i>Music</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn" id="createbtn">Create New</a>
    </p>
}

<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="genreDropdown">Filter by Genre</label>
        <select id="genreDropdown" name="genreId" class="form-control" asp-items="ViewBag.Genres" onchange="this.form.submit()">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group">
        <label for="tagDropdown">Filter by Tag</label>
        <select id="tagDropdown" name="tagId" class="form-control" asp-items="ViewBag.Tags" onchange="this.form.submit()">
            <option value="">All</option>
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;"><i class="ri-information-line" style="color: #75a2e5;"></i></a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item?.Id" style="text-decoration: none;"><i class="ri-edit-line" style="color: #75a2e5;"></i></a>
                        <a asp-action="Delete" asp-route-id="@item?.Id" style="text-decoration: none;"><i class="ri-delete-bin-line" style="color: #75a2e5;"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
