<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoundWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SoundWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="ri-headphone-line" style="color: #75a2e5;"></i> Sound<span style="color: #75a2e5;">Library</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="ri-home-2-line"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index"><i class="ri-disc-line"></i> Genres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tags" asp-action="Index"><i class="ri-hashtag"></i> Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Playlists" asp-action="Index"><i class="ri-play-list-add-line"></i> Playlists</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserPlayLists" asp-action="Index"><i class="ri-play-list-line"></i> My playlists</a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"><i class="ri-group-line"></i> Users</a>
                        </li> *@
                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Musics" asp-action="Index"><i class="ri-rhythm-line"></i> Music</a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MusicFinder" asp-action="Find"><i class="ri-search-line"></i> Search</a>
                        </li>

                        @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OpenAI" asp-action="Find"><i class="ri-robot-line"></i> Audio Assistant</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OpenAI" asp-action="FindMusicWithFuzzySearch">Find your audio</a>
                        </li>
       


                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ms-auto">
                                <div class="d-flex">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"><i class="ri-group-line"></i> Users</a>
                                    <a class="nav-link text-dark me-2" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@Context.Session.GetInt32("ActiveUserId")"><i class="ri-user-settings-line"></i> User Data</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout"><i class="ri-logout-circle-line"></i> Logout</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @Html.Partial("_UnauthorizedModal")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
