@model IEnumerable<DAL.Models.Playlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Browse Playlists</h1>
@if (Context.Session.GetString("UserRole") == "Admin")
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New <i class="ri-add-line"></i> </a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;"><i class="ri-music-2-fill"></i></a>
                    @if (Context.Session.GetString("UserRole") == "Admin")
                    {
                        <a asp-action="Edit" asp-route-id="@item?.Id" style="text-decoration: none;"><i class="ri-edit-line"></i></a>
                        <a asp-action="Delete" asp-route-id="@item?.Id" style="text-decoration: none;"><i class="ri-delete-bin-line"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
