@model DAL.Models.UserPlayListsMusic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserPlayListsMusic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Music)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Music.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPlaylist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPlaylist.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
